import React from 'react'
{{#if haveStyle}}
import styles from './{{filename}}.module.scss'
{{/if}}

interface Props {}

const {{filename}}: React.FC<Props> = () => {
    return (
        {{#if haveStyle}}
        <div className={styles.root}>
        {{else}}
        <div>
        {{/if}}
            <h1>{{filename}} component</h1>
        </div>
    )
}

export default {{filename}}
